<launch>      
    <node name="rovio" pkg="rovio" type="rovio_node" output="screen">
      <param name="filter_config" value="$(find rovio)/cfg/realsense_oxford/rovio.info" />
      <param name="camera0_config" value="$(find rovio)/cfg/realsense_oxford/rovio_cam0.yaml" /> 
      <remap from="cam0/image_raw" to="/camera/fisheye/image_raw"/>
      <remap from="imu0" to="/camera/imu/data_raw"/>
    </node>
</launch>
